@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-prm: #6859e8;
  --color-dark: #07070f;
  --color-one: #808cc6;
  --color-light: #eafeff;
}
.cairo-uniquifier {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  transition: all .3s;
}

body {
  position: relative;
  width: 100vw;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}
